@import './shared/colors.scss';
.header {
    display: flex;
    position: fixed;
    top: 0px;
    width: 100%;
    left: 0px;
    right: 0px;
    justify-content: space-between;
    align-items: center;
    min-height: 35px;
    background-color: $main-color;
    font-family: verdana, sans-serif;
    padding: 0px 30px 0px 10px;
    * {
        color: $text-color
    }
    .navLinks {
        right: 0px;
        display: flex;
        justify-content: space-evenly;
        width: 40%;
        padding-right: 25px;
        list-style-type: none;
        a:hover{
            color: black;
            cursor: hand;
        }

    }
}

.shadow-overlay {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mid-large{
    width: 100%;
    img{
        width: 35%;
        margin-top: 30vh;
        margin-left: 30%;
    } 
}

.logo-img {
    width: 35px;
}

.logo-txt {
    display: flex;
    padding-right: 25px;
    font-family: 'Courier New', Courier, monospace;
}
