.wrapper {
  background-color: aliceblue;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  clear: both;
  margin-top: 20px;
}

.flex-parent {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  text-align: center;
  padding: 40px;
  clear: both;
  background: white;
  >div {
    background: white;
  }
}

.rate-editor {
  padding-bottom: 12px;
  margin: 0 10px 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: all 0.25s ease-out;
}

.rate-editor h5{
    text-transform: uppercase;
}

textarea {
  font-size: 16px;
  display: block;
  padding: 8px 6px;
  resize: none;
}

textarea.is-empty {
  border: 1px solid tomato;
}

#error {
  color: tomato;
  position: absolute;
  top: 12px;
  left: 150px;
  line-height: 16px;
}

select {
  display: block;
  margin: 5px 0 15px 0;
  width: 240px;
  padding: 0px;
  height: 24px;
}

.rate-btn {
  position: relative;
  width: 100px;
  margin-top: 40px;
  padding: 12px 8px;
  border-radius: 5px;
  margin-bottom: 15px;
  outline: none;
  border:0;
  color: white;
  font-size: 14px;
}

rate-btn:active {
  box-shadow: 0px 0px 1px rgba(0,0,0,0.1);
  top: 1px;
  left: 1px;
}