@import './shared/colors.scss';

.main{
    position: absolute;
    z-index: -1;
    top: 100px;
    width: 88vw;
}
.user-profile{
    margin-left: 3vw;
    width: 87vw;
}
.profile-bar{
    position: relative;
    height: 30px;
    font-size: 20px;
    text-align: center;
    list-style-type: none;
    padding: 20px 30px 10px 21px;
    line-height: 18.2px;
}

.profile-bar-item {
    text-align: center;
    float: left;
    margin: 5px;
    margin-right: 60px;
    &:first-of-type {
        
      }
  }

.light-box-shadow{
    box-shadow: 0 0 15px #00000030;
}

.dev-rating{
    margin: 8vh 0vh 20vh 3vw;
}
th, td {
    line-height: 18.2px;
    text-align: center;
  }
  th{
      color: white;
      background-color: #3C58D7;
      padding: 40px 40px 10px 40px;
  }
  td{
      background-color: $background-color-seconday;
      margin-top: 20px;
      padding: 50px 50px;
  }

  .sm{
    padding: 10px 40px 10px 40px;
  }

  .avg{
      margin-bottom: 60px;
  }

.table-row-header{
    margin-bottom: 20px;
}

.tab {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
    tr {
        height: 50px;
    }
    
    td {
        padding: 20px;
        text-align: left;
      }
}
.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }

    /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }